# Ignore node_modules for both frontend and backend
node_modules/

# Ignore environment variable files
/.env

# Ignore log files
*.log

# Ignore build files
/build
/dist

# Ignore system files and directories (common for MacOS and Windows users)
.DS_Store
Thumbs.db

# Ignore IDE/editor specific files
.idea/
.vscode/

# Ignore dependency directories for other potential environments (if used)
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore package lock files (optional, but recommended if using Yarn instead)
package-lock.json
yarn.lock
